<strong>Hello, {{ student }}</strong>
<p>We are glad to have you with us!</p>
<p>See below your membership details.</p>
<br>
<p>
  <strong>Plan:</strong> {{ plan }} <br>
  <strong>Start date:</strong> {{ startDate }} <br>
  <strong>End date:</strong> {{ endDate }} <br>
  <strong>Price:</strong> {{ price }} <br>
</p>
<br>
<p>Welcome to Gympoint</p>
